html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    -webkit-text-size-adjust: none;
}
mark {
    background-color: transparent;
    color: inherit;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type="text"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    line-height: 1;
    min-height: var(--viewport-height);
    min-width: 320px;
    overflow-x: hidden;
    word-wrap: break-word;
}
body:before {
    background-attachment: scroll;
    content: "";
    display: block;
    height: var(--background-height);
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: scale(1);
    width: 100vw;
    z-index: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%20path%20%7B%20fill%3A%20none%3B%20stroke%3A%20rgba(255,255,255,0.031)%3B%20stroke-width%3A%202.01px%3B%20%7D%20%3C%2Fstyle%3E%20%3Cpath%20vector-effect%3D%22non-scaling-stroke%22%20d%3D%22M111.2%2C81.7L-33.7%2C226.6c-13.9%2C13.9-36.5%2C13.9-50.5%2C0L-229.1%2C81.7%20c-22.5-22.5-6.6-60.9%2C25.2-60.9H86C117.7%2C20.7%2C133.7%2C59.2%2C111.2%2C81.7z%22%2F%3E%20%3Cpath%20vector-effect%3D%22non-scaling-stroke%22%20d%3D%22M366.8%2C338.3L221.9%2C483.2c-13.9%2C13.9-36.5%2C13.9-50.5%2C0L26.6%2C338.3%20c-22.5-22.5-6.6-60.9%2C25.2-60.9h289.8C373.4%2C277.4%2C389.3%2C315.8%2C366.8%2C338.3z%22%2F%3E%20%3Cpath%20vector-effect%3D%22non-scaling-stroke%22%20d%3D%22M40.6%2C423l-144.9-144.9c-13.9-13.9-13.9-36.5%2C0-50.5L40.6%2C82.8%20c22.5-22.5%2C60.9-6.6%2C60.9%2C25.2v289.8C101.5%2C429.6%2C63.1%2C445.5%2C40.6%2C423z%22%2F%3E%20%3Cpath%20vector-effect%3D%22non-scaling-stroke%22%20d%3D%22M296.3%2C679.7L151.4%2C534.8c-13.9-13.9-13.9-36.5%2C0-50.5l144.9-144.9%20c22.5-22.5%2C60.9-6.6%2C60.9%2C25.2v289.8C357.2%2C686.3%2C318.8%2C702.2%2C296.3%2C679.7z%22%2F%3E%20%3Cpath%20vector-effect%3D%22non-scaling-stroke%22%20d%3D%22M623.5%2C81.7L478.6%2C226.6c-13.9%2C13.9-36.5%2C13.9-50.5%2C0L283.2%2C81.7%20c-22.5-22.5-6.6-60.9%2C25.2-60.9h289.8C630%2C20.7%2C646%2C59.2%2C623.5%2C81.7z%22%2F%3E%20%3Cpath%20vector-effect%3D%22non-scaling-stroke%22%20d%3D%22M296.3%2C166.4L151.4%2C21.5c-13.9-13.9-13.9-36.5%2C0-50.5l144.9-144.9%20c22.5-22.5%2C60.9-6.6%2C60.9%2C25.2v289.8C357.2%2C173%2C318.8%2C188.9%2C296.3%2C166.4z%22%2F%3E%20%3Cpath%20vector-effect%3D%22non-scaling-stroke%22%20d%3D%22M552.9%2C423L408%2C278.2c-13.9-13.9-13.9-36.5%2C0-50.5L552.9%2C82.8%20c22.5-22.5%2C60.9-6.6%2C60.9%2C25.2v289.8C613.8%2C429.6%2C575.4%2C445.5%2C552.9%2C423z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(45deg, #2a3038 0%, #343d47 100%);
    background-size: 1024px, auto;
    background-position:
            center,
            0% 0%;
    background-repeat: repeat, repeat;
}
body:after {
    background-color: #2a3038;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: scale(1);
    transition:
            opacity 1s ease-in-out 0s,
            visibility 1s 0s;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}
body.is-loading:after {
    opacity: 1;
    visibility: visible;
}
:root {
    --background-height: 100vh;
    --site-language-alignment: left;
    --site-language-direction: ltr;
    --site-language-flex-alignment: flex-start;
    --site-language-indent-left: 1;
    --site-language-indent-right: 0;
    --viewport-height: 100vh;
}
html {
    font-size: 17pt;
}
u {
    text-decoration: underline;
}
strong {
    color: inherit;
    font-weight: bolder;
}
em {
    font-style: italic;
}
code {
    background-color: rgba(144, 144, 144, 0.25);
    border-radius: 0.25em;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.9em;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    text-indent: 0;
}
mark {
    background-color: rgba(144, 144, 144, 0.25);
}
spoiler-text {
    -webkit-text-stroke: 0;
    background-color: rgba(32, 32, 32, 0.75);
    text-shadow: none;
    text-stroke: 0;
    color: transparent;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}
spoiler-text.active {
    color: #ffffff;
    cursor: text;
}
s {
    text-decoration: line-through;
}
sub {
    font-size: smaller;
    vertical-align: sub;
}
sup {
    font-size: smaller;
    vertical-align: super;
}
a {
    color: inherit;
    text-decoration: underline;
    transition: color 0.25s ease;
}
a[onclick]:not([href]) {
    cursor: pointer;
}
#wrapper {
    -webkit-overflow-scrolling: touch;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--viewport-height);
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#main {
    --alignment: var(--site-language-alignment);
    --flex-alignment: var(--site-language-flex-alignment);
    --indent-left: var(--site-language-indent-left);
    --indent-right: var(--site-language-indent-right);
    --border-radius-tl: 0;
    --border-radius-tr: 0;
    --border-radius-br: 0;
    --border-radius-bl: 0;
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    max-width: 100%;
    position: relative;
    text-align: var(--alignment);
    z-index: 1;
    transition: opacity 1s ease-in-out 0s;
}
#main > .inner {
    --padding-horizontal: 6rem;
    --padding-vertical: 8rem;
    --spacing: 2.375rem;
    --width: 65rem;
    border-radius: var(--border-radius-tl) var(--border-radius-tr)
    var(--border-radius-br) var(--border-radius-bl);
    max-width: 100%;
    position: relative;
    width: var(--width);
    z-index: 1;
    padding: var(--padding-vertical) var(--padding-horizontal);
}
#main > .inner > * {
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
}
#main > .inner > :first-child {
    margin-top: 0 !important;
}
#main > .inner > :last-child {
    margin-bottom: 0 !important;
}
#main > .inner > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
    width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}
#main > .inner > .full:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin-top: calc(var(--padding-vertical) * -1) !important;
}
#main > .inner > .full:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
}
#main > .inner > .full.screen {
    border-radius: 0 !important;
    max-width: 100vw;
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    right: auto;
}
body.is-loading #main {
    opacity: 0;
}
body #wrapper:after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 4.5rem;
    left: calc(50% - 2.25rem);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: calc(50% - 2.25rem);
    transition:
            opacity 1s ease,
            visibility 1s;
    visibility: hidden;
    width: 4.5rem;
    z-index: 100000;
}
body.is-loading {
    pointer-events: none;
}
body.is-loading.with-loader #wrapper:after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUgeyBmaWxsOiB0cmFuc3BhcmVudDsgc3Ryb2tlOiAjRkZGRkZGMDg7IHN0cm9rZS13aWR0aDogMnB4OyB9PC9zdHlsZT48ZGVmcz48Y2xpcFBhdGggaWQ9ImNvcm5lciI+PHBvbHlnb24gcG9pbnRzPSIwLDAgNDgsMCA0OCw0OCA5Niw0OCA5Niw5NiAwLDk2IiAvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjb3JuZXIpIj48Y2lyY2xlIGN4PSI0OCIgY3k9IjQ4IiByPSIzMiIgdmVjdG9yLWVmZmVjdD0ibm9uLXNjYWxpbmctc3Ryb2tlIiAvPjxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgYXR0cmlidXRlVHlwZT0iWE1MIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgNDggNDgiIHRvPSIzNjAgNDggNDgiIGR1cj0iMXMiIHJlcGVhdER1cj0iaW5kZWZpbml0ZSIgLz48L2c+PC9zdmc+");
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
body.is-playing.with-loader #wrapper:after {
    opacity: 0;
    transform: scale(0.5);
    transition:
            opacity 0.25s ease,
            transform 0.75s ease,
            visibility 0.25s;
    visibility: hidden;
}
body.is-instant #main,
body.is-instant #main > .inner > *,
body.is-instant #main > .inner > section > * {
    transition: none !important;
}
body.is-instant:after {
    display: none !important;
    transition: none !important;
}
h1,
h2,
h3,
p {
    direction: var(--site-language-direction);
    position: relative;
}
h1 span.p,
h2 span.p,
h3 span.p,
p span.p {
    display: block;
    position: relative;
}
h1 span[style],
h2 span[style],
h3 span[style],
p span[style],
h1 strong,
h2 strong,
h3 strong,
p strong,
h1 a,
h2 a,
h3 a,
p a,
h1 code,
h2 code,
h3 code,
p code,
h1 mark,
h2 mark,
h3 mark,
p mark,
h1 spoiler-text,
h2 spoiler-text,
h3 spoiler-text,
p spoiler-text {
    -webkit-text-fill-color: currentcolor;
}
h1.style4,
h2.style4,
h3.style4,
p.style4 {
    text-transform: uppercase;
    color: #28d496;
    font-family: "Sora", sans-serif;
    letter-spacing: 0.3rem;
    width: calc(100% + 0.3rem);
    font-size: 0.75em;
    line-height: 1.75;
    font-weight: 500;
}
h1.style4 mark,
h2.style4 mark,
h3.style4 mark,
p.style4 mark {
    color: #1f96ed;
    background-color: transparent;
}
h1.style4 a,
h2.style4 a,
h3.style4 a,
p.style4 a {
    text-decoration: underline;
}
h1.style4 a:hover,
h2.style4 a:hover,
h3.style4 a:hover,
p.style4 a:hover {
    text-decoration: none;
}
h1.style4 span.p:nth-child(n + 2),
h2.style4 span.p:nth-child(n + 2),
h3.style4 span.p:nth-child(n + 2),
p.style4 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}
h1.style2,
h2.style2,
h3.style2,
p.style2 {
    color: #ffffff;
    font-family: "Sora", sans-serif;
    font-size: 5em;
    line-height: 1.125;
    font-weight: 700;
}
h1.style2 mark,
h2.style2 mark,
h3.style2 mark,
p.style2 mark {
    color: rgba(255, 255, 255, 0.278);
    background-color: transparent;
}
h1.style2 a,
h2.style2 a,
h3.style2 a,
p.style2 a {
    text-decoration: none;
}
h1.style2 a:hover,
h2.style2 a:hover,
h3.style2 a:hover,
p.style2 a:hover {
    text-decoration: underline;
}
h1.style2 span.p:nth-child(n + 2),
h2.style2 span.p:nth-child(n + 2),
h3.style2 span.p:nth-child(n + 2),
p.style2 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}
h1.style1,
h2.style1,
h3.style1,
p.style1 {
    color: rgba(255, 255, 255, 0.671);
    font-family: "Inter", sans-serif;
    letter-spacing: 0.025rem;
    width: calc(100% + 0.025rem);
    font-size: 1.625em;
    line-height: 1.375;
    font-weight: 400;
}
h1.style1 mark,
h2.style1 mark,
h3.style1 mark,
p.style1 mark {
    color: rgba(255, 255, 255, 0.278);
    background-color: transparent;
}
h1.style1 a,
h2.style1 a,
h3.style1 a,
p.style1 a {
    text-decoration: underline;
}
h1.style1 a:hover,
h2.style1 a:hover,
h3.style1 a:hover,
p.style1 a:hover {
    text-decoration: none;
}
h1.style1 span.p:nth-child(n + 2),
h2.style1 span.p:nth-child(n + 2),
h3.style1 span.p:nth-child(n + 2),
p.style1 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}
h1.style7,
h2.style7,
h3.style7,
p.style7 {
    color: #ffffff;
    font-family: "Sora", sans-serif;
    letter-spacing: 0.025rem;
    width: calc(100% + 0.025rem);
    font-size: 2.25em;
    line-height: 1;
    font-weight: 500;
}
h1.style7 code,
h2.style7 code,
h3.style7 code,
p.style7 code {
    color: #141414;
    background-color: #f7d723;
}
h1.style7 mark,
h2.style7 mark,
h3.style7 mark,
p.style7 mark {
    color: rgba(255, 255, 255, 0.278);
    background-color: transparent;
}
h1.style7 a,
h2.style7 a,
h3.style7 a,
p.style7 a {
    text-decoration: underline;
}
h1.style7 a:hover,
h2.style7 a:hover,
h3.style7 a:hover,
p.style7 a:hover {
    text-decoration: none;
}
h1.style7 span.p:nth-child(n + 2),
h2.style7 span.p:nth-child(n + 2),
h3.style7 span.p:nth-child(n + 2),
p.style7 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}
h1.style3,
h2.style3,
h3.style3,
p.style3 {
    color: #ffffff;
    font-family: "Sora", sans-serif;
    font-size: 3.5em;
    line-height: 1.125;
    font-weight: 500;
}
h1.style3 mark,
h2.style3 mark,
h3.style3 mark,
p.style3 mark {
    color: rgba(255, 255, 255, 0.278);
    background-color: transparent;
}
h1.style3 a,
h2.style3 a,
h3.style3 a,
p.style3 a {
    text-decoration: none;
}
h1.style3 a:hover,
h2.style3 a:hover,
h3.style3 a:hover,
p.style3 a:hover {
    text-decoration: underline;
}
h1.style3 span.p:nth-child(n + 2),
h2.style3 span.p:nth-child(n + 2),
h3.style3 span.p:nth-child(n + 2),
p.style3 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}
.container {
    position: relative;
}
.container > .wrapper {
    vertical-align: top;
    position: relative;
    max-width: 100%;
    border-radius: inherit;
}
.container > .wrapper > .inner {
    vertical-align: top;
    position: relative;
    max-width: 100%;
    border-radius: inherit;
    text-align: var(--alignment);
}
#main .container.full:first-child > .wrapper {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
#main .container.full:last-child > .wrapper {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
#main .container.full:first-child > .wrapper > .inner {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
#main .container.full:last-child > .wrapper > .inner {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.container.style2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.container.style2:not(:first-child) {
    margin-top: 4rem !important;
}
.container.style2:not(:last-child) {
    margin-bottom: 8rem !important;
}
.container.style2 > .wrapper > .inner {
    --gutters: 0.75rem;
    --padding-horizontal: 0rem;
    --padding-vertical: 0rem;
    padding: var(--padding-vertical) var(--padding-horizontal);
}
.container.style2 > .wrapper {
    max-width: var(--width);
    width: 100%;
}
.container.style2.default > .wrapper > .inner > * {
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
}
.container.style2.default > .wrapper > .inner > *:first-child {
    margin-top: 0 !important;
}
.container.style2.default > .wrapper > .inner > *:last-child {
    margin-bottom: 0 !important;
}
.container.style2.columns > .wrapper > .inner {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
}
.container.style2.columns > .wrapper > .inner > * {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    text-align: var(--alignment);
    padding: 0 0 0 var(--gutters);
}
.container.style2.columns > .wrapper > .inner > * > * {
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
}
.container.style2.columns > .wrapper > .inner > * > *:first-child {
    margin-top: 0 !important;
}
.container.style2.columns > .wrapper > .inner > * > *:last-child {
    margin-bottom: 0 !important;
}
.container.style2.columns > .wrapper > .inner > *:first-child {
    margin-left: calc(var(--gutters) * -1);
}
.container.style2.default > .wrapper > .inner > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    max-width: none !important;
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}
.container.style2.default > .wrapper > .inner > .full:first-child {
    margin-top: calc(var(--padding-vertical) * -1) !important;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.container.style2.default > .wrapper > .inner > .full:last-child {
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.container.style2.columns > .wrapper > .inner > div > .full {
    margin-left: calc(var(--gutters) * -0.5);
    max-width: none !important;
    width: calc(100% + var(--gutters) + 0.4725px);
}
.container.style2.columns > .wrapper > .inner > div:first-child > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(
            100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) +
            0.4725px
    );
}
.container.style2.columns > .wrapper > .inner > div:last-child > .full {
    width: calc(
            100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) +
            0.4725px
    );
}
.container.style2.columns > .wrapper > .inner > div > .full:first-child {
    margin-top: calc(var(--padding-vertical) * -1) !important;
}
.container.style2.columns > .wrapper > .inner > div > .full:last-child {
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
}
.container.style2.columns > .wrapper > .inner > div:first-child,
.container.style2.columns
> .wrapper
> .inner
> div:first-child
> .full:first-child {
    border-top-left-radius: inherit;
}
.container.style2.columns > .wrapper > .inner > div:last-child,
.container.style2.columns
> .wrapper
> .inner
> div:last-child
> .full:first-child {
    border-top-right-radius: inherit;
}
.container.style2.columns > .wrapper > .inner > .full {
    align-self: stretch;
}
.container.style2.columns > .wrapper > .inner > .full:first-child {
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}
.container.style2.columns > .wrapper > .inner > .full:last-child {
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
}
.container.style2.columns
> .wrapper
> .inner
> .full
> .full:first-child:last-child {
    border-radius: inherit;
    height: calc(100% + (var(--padding-vertical) * 2));
}
.container.style2.columns
> .wrapper
> .inner
> .full
> .full:first-child:last-child
> * {
    border-radius: inherit;
    height: 100%;
    position: absolute;
    width: 100%;
}
#container03 > .wrapper > .inner > :nth-child(1) {
    width: calc(25% + (var(--gutters) / 2));
    --alignment: left;
    --flex-alignment: flex-start;
    --indent-left: 1;
    --indent-right: 0;
}
#container03 > .wrapper > .inner > :nth-child(2) {
    width: calc(75% + (var(--gutters) / 2));
}
.container.style1 {
    display: flex;
    width: 100%;
    min-height: 26rem;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201024%201024%22%20width%3D%221024%22%20height%3D%221024%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%3E%20rect%20%7B%20fill%3A%20rgba(255,255,255,0.122)%3B%20transform-origin%3A%2050%25%2050%25%3B%20transform%3A%20translateX%28-25%25%29%20translateY%28-25%25%29%3B%20%7D%20%3C%2Fstyle%3E%20%3Crect%20x%3D%22256%22%20y%3D%22256%22%20width%3D%223.01%25%22%20height%3D%223.01%25%22%20%2F%3E%20%3Crect%20x%3D%22768%22%20y%3D%22768%22%20width%3D%223.01%25%22%20height%3D%223.01%25%22%20%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(45deg, #00819e 0%, #119dbd 100%);
    background-size: 128px, cover;
    background-position:
            center,
            0% 0%;
    background-repeat: repeat, repeat;
}
.container.style1:not(:first-child) {
    margin-top: 8rem !important;
}
.container.style1:not(:last-child) {
    margin-bottom: 8rem !important;
}
.container.style1 > .wrapper > .inner {
    --gutters: 2rem;
    padding: var(--padding-vertical) var(--padding-horizontal);
}
.container.style1 > .wrapper {
    max-width: var(--width);
    width: 100%;
}
.container.style1.default > .wrapper > .inner > * {
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
}
.container.style1.default > .wrapper > .inner > *:first-child {
    margin-top: 0 !important;
}
.container.style1.default > .wrapper > .inner > *:last-child {
    margin-bottom: 0 !important;
}
.container.style1.columns > .wrapper > .inner {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
}
.container.style1.columns > .wrapper > .inner > * {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    text-align: var(--alignment);
    padding: 0 0 0 var(--gutters);
}
.container.style1.columns > .wrapper > .inner > * > * {
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
}
.container.style1.columns > .wrapper > .inner > * > *:first-child {
    margin-top: 0 !important;
}
.container.style1.columns > .wrapper > .inner > * > *:last-child {
    margin-bottom: 0 !important;
}
.container.style1.columns > .wrapper > .inner > *:first-child {
    margin-left: calc(var(--gutters) * -1);
}
.container.style1.default > .wrapper > .inner > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    max-width: none !important;
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}
.container.style1.default > .wrapper > .inner > .full:first-child {
    margin-top: calc(var(--padding-vertical) * -1) !important;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.container.style1.default > .wrapper > .inner > .full:last-child {
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.container.style1.columns > .wrapper > .inner > div > .full {
    margin-left: calc(var(--gutters) * -0.5);
    max-width: none !important;
    width: calc(100% + var(--gutters) + 0.4725px);
}
.container.style1.columns > .wrapper > .inner > div:first-child > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(
            100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) +
            0.4725px
    );
}
.container.style1.columns > .wrapper > .inner > div:last-child > .full {
    width: calc(
            100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) +
            0.4725px
    );
}
.container.style1.columns > .wrapper > .inner > div > .full:first-child {
    margin-top: calc(var(--padding-vertical) * -1) !important;
}
.container.style1.columns > .wrapper > .inner > div > .full:last-child {
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
}
.container.style1.columns > .wrapper > .inner > div:first-child,
.container.style1.columns
> .wrapper
> .inner
> div:first-child
> .full:first-child {
    border-top-left-radius: inherit;
}
.container.style1.columns > .wrapper > .inner > div:last-child,
.container.style1.columns
> .wrapper
> .inner
> div:last-child
> .full:first-child {
    border-top-right-radius: inherit;
}
.container.style1.columns > .wrapper > .inner > .full {
    align-self: stretch;
    min-height: 26rem;
}
.container.style1.columns > .wrapper > .inner > .full:first-child {
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}
.container.style1.columns > .wrapper > .inner > .full:last-child {
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
}
.container.style1.columns
> .wrapper
> .inner
> .full
> .full:first-child:last-child {
    border-radius: inherit;
    height: calc(100% + (var(--padding-vertical) * 2));
}
.container.style1.columns
> .wrapper
> .inner
> .full
> .full:first-child:last-child
> * {
    border-radius: inherit;
    height: 100%;
    position: absolute;
    width: 100%;
}
.buttons {
    cursor: default;
    display: flex;
    justify-content: var(--flex-alignment);
    letter-spacing: 0;
    padding: 0;
}
.buttons li {
    max-width: 100%;
}
.buttons li a {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}
.buttons.style1 {
    gap: 0.875rem;
    flex-direction: row;
    flex-wrap: wrap;
}
.buttons.style1 li a {
    display: inline-flex;
    width: auto;
    height: 3.75rem;
    line-height: 3.75rem;
    padding: 0 1.875rem;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: "Sora", sans-serif;
    letter-spacing: 0.1rem;
    padding-left: calc(0.1rem + 1.875rem);
    font-size: 0.75em;
    font-weight: 500;
    border-radius: 2.5rem;
    flex-direction: row-reverse;
    transition:
            transform 0.25s ease,
            color 0.25s ease,
            background-color 0.25s ease,
            border-color 0.25s ease;
}
.buttons.style1 li a svg {
    display: block;
    fill: #000000;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    min-width: 18px;
    width: 1.25em;
    margin-left: 1rem;
    margin-right: calc(-0.125em + 0.1rem);
    transition: fill 0.25s ease;
}
.buttons.style1 li a .label {
    direction: var(--site-language-direction);
    overflow: hidden;
}
.buttons.style1 .button {
    background-color: #28d496;
    color: #000000;
    background-image: linear-gradient(
            45deg,
            #49f5b7 0%,
            rgba(40, 212, 150, 0.008) 100%
    );
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: cover;
}
.buttons.style1 li a:hover {
    transform: scale(1.06);
}
.buttons.style2 {
    gap: 0.875rem;
    flex-direction: row;
    flex-wrap: wrap;
}
.buttons.style2 li a {
    display: inline-flex;
    width: auto;
    height: 3.75rem;
    line-height: 3.75rem;
    padding: 0 1.875rem;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: "Sora", sans-serif;
    letter-spacing: 0.175rem;
    padding-left: calc(0.175rem + 1.875rem);
    font-size: 0.75em;
    font-weight: 500;
    border-radius: 2.5rem;
    transition:
            transform 0.25s ease,
            color 0.25s ease,
            background-color 0.25s ease,
            border-color 0.25s ease;
}
.buttons.style2 li a svg {
    display: block;
    fill: #ffffff;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    min-width: 18px;
    width: 1.25em;
    margin-left: -0.125em;
    margin-right: calc(1rem + 0.175rem);
    transition: fill 0.25s ease;
}
.buttons.style2 li a .label {
    direction: var(--site-language-direction);
    overflow: hidden;
}
.buttons.style2 .button {
    color: #ffffff;
    border: solid 3px #c2c2c2;
}
.buttons.style2 li a:hover {
    transform: scale(1.06);
}
#buttons03 .n01 svg {
    fill: rgba(235, 235, 235, 0.839);
}
#buttons03 .n01 {
    color: rgba(235, 235, 235, 0.839);
    border: solid 3px rgba(235, 235, 235, 0.839);
}
.buttons.style3 {
    gap: 0.875rem;
    flex-direction: row;
    flex-wrap: wrap;
}
.buttons.style3 li a {
    display: inline-flex;
    width: auto;
    height: 3.75rem;
    line-height: 3.75rem;
    padding: 0 1.875rem;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: "Sora", sans-serif;
    letter-spacing: 0.1rem;
    padding-left: calc(0.1rem + 1.875rem);
    font-size: 0.75em;
    font-weight: 500;
    border-radius: 2.5rem;
    transition:
            transform 0.25s ease,
            color 0.25s ease,
            background-color 0.25s ease,
            border-color 0.25s ease;
}
.buttons.style3 li a svg {
    display: block;
    fill: #ffffff;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    min-width: 18px;
    width: 1.25em;
    margin-left: -0.125em;
    margin-right: calc(1rem + 0.1rem);
    transition: fill 0.25s ease;
}
.buttons.style3 li a .label {
    direction: var(--site-language-direction);
    overflow: hidden;
}
.buttons.style3 .button {
    background-color: #333333;
    color: #ffffff;
}
.buttons.style3 li a:hover {
    transform: scale(1.06);
}
hr {
    align-items: center;
    border: 0;
    display: flex;
    justify-content: var(--flex-alignment);
    min-height: 1rem;
    padding: 0;
    position: relative;
    width: 100%;
}
hr:before {
    content: "";
}
hr.style1:not(:first-child) {
    margin-top: 4rem !important;
}
hr.style1:not(:last-child) {
    margin-bottom: 4rem !important;
}
hr.style1:before {
    width: 100%;
    height: 1.25rem;
    background-size: auto 33.85%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cstyle%3Eline%20%7Bstroke-linecap%3A%20square%3Bstroke-width%3A%201px%3Bstroke%3A%20rgba(255,255,255,0.349)%3Bvector-effect%3A%20non-scaling-stroke%3B%7D%3C%2Fstyle%3E%3Cline%20x1%3D%22256%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%22256%22%20%2F%3E%3Cline%20x1%3D%22256%22%20y1%3D%22512%22%20x2%3D%22512%22%20y2%3D%22256%22%20%2F%3E%3C%2Fsvg%3E");
    background-position: center center;
    background-repeat: repeat-x;
}
.list {
    display: block;
}
.list ul,
.list ol {
    display: inline-block;
    max-width: 100%;
    text-align: var(--site-language-alignment);
    vertical-align: middle;
}
.list ul li,
.list ol li {
    direction: var(--site-language-direction);
    display: flex;
    position: relative;
}
.list ul li:before,
.list ol li:before {
    background-repeat: no-repeat;
    content: "";
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    font-variant: normal !important;
    letter-spacing: 0 !important;
    order: 1;
    position: relative;
}
.list ul li:after,
.list ol li:after {
    content: "";
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    order: 2;
    pointer-events: none;
}
.list ul li p,
.list ol li p {
    flex-grow: 1;
    flex-shrink: 1;
    order: 3;
}
.list ul li:first-child,
.list ol li:first-child {
    margin-top: 0 !important;
}
.list.style1 {
    color: rgba(255, 255, 255, 0.671);
    font-family: "Inter", sans-serif;
    letter-spacing: 0.025rem;
    font-size: 1em;
    line-height: 1.875;
    font-weight: 400;
}
.list.style1 code {
    color: #141414;
    background-color: #424242;
}
.list.style1 mark {
    color: #1f96ed;
    background-color: transparent;
}
.list.style1 a {
    color: rgba(89, 89, 89, 0.82);
    text-decoration: underline;
}
.list.style1 a:hover {
    text-decoration: none;
}
.list.style1 ul {
    width: 100%;
    padding-top: 0rem;
}
.list.style1 ul li {
    margin-top: 0rem;
}
.list.style1 ul li:after {
    width: 0.75rem;
}
.list.style1 ul li:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20d%3D%22M37.9%2C10.6l-3.2-3.2c-0.4-0.4-1-0.7-1.6-0.7c-0.6%2C0-1.2%2C0.2-1.6%2C0.7L15.9%2C23l-7-7c-0.4-0.4-1-0.7-1.6-0.7S6.1%2C15.6%2C5.6%2C16%20l-3.2%2C3.2c-0.4%2C0.4-0.7%2C1-0.7%2C1.6S2%2C22%2C2.4%2C22.5l8.6%2C8.6l3.2%2C3.2c0.4%2C0.4%2C1%2C0.7%2C1.6%2C0.7c0.6%2C0%2C1.2-0.2%2C1.6-0.7l3.2-3.2l17.2-17.2%20c0.4-0.4%2C0.7-1%2C0.7-1.6C38.6%2C11.6%2C38.4%2C11.1%2C37.9%2C10.6z%22%20fill%3D%22%23000000%22%20%2F%3E%3C%2Fsvg%3E");
    border-radius: 0.375rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    height: 1.25rem;
    margin-top: 0.375rem;
    min-width: 1.25rem;
    padding: 0 0.15625rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.749);
    line-height: calc(1.25rem - 1px);
}
.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--flex-alignment);
    letter-spacing: 0;
    padding: 0;
}
.icons li {
    position: relative;
    z-index: 1;
}
.icons li a {
    align-items: center;
    display: flex;
    justify-content: center;
}
.icons li a svg {
    display: block;
    position: relative;
}
.icons li a + svg {
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.icons li a .label {
    display: none;
}
.icons.style1 {
    font-size: 1.5em;
    gap: 1.5rem;
}
.icons.style1 li a {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    transition:
            transform 0.25s ease,
            color 0.25s ease,
            background-color 0.25s ease,
            border-color 0.25s ease;
}
.icons.style1 li a svg {
    height: 60%;
    width: 60%;
    transition: fill 0.25s ease;
}
.icons.style1 a {
    background-color: #fafafa;
    background-image: linear-gradient(
            45deg,
            #49f5b7 0%,
            rgba(250, 250, 250, 0.008) 100%
    );
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: cover;
}
.icons.style1 a svg {
    fill: #000000;
}
.icons.style1 li a + svg {
    transition:
            transform 0.25s ease,
            fill 0.25s ease,
            stroke 0.25s ease;
}
.icons.style1 li a:hover {
    transform: scale(1.1125);
}
.icons.style1 li a:hover + svg {
    transform: scale(1.1125);
}
#icons03 .n01 {
    background-color: rgba(255, 255, 255, 0.761);
    background-image: linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.761) 0%,
            rgba(255, 255, 255, 0.004) 100%
    );
}
#icons03 .n02 {
    background-color: rgba(255, 255, 255, 0.761);
    background-image: linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.761) 0%,
            rgba(255, 255, 255, 0.004) 100%
    );
}
@media (max-width: 1920px) {
}
@media (max-width: 1680px) {
    html {
        font-size: 12pt;
    }
}
@media (max-width: 1280px) {
    html {
        font-size: 12pt;
    }
}
@media (max-width: 1024px) {
}
@media (max-width: 980px) {
    html {
        font-size: 11pt;
    }
}
@media (max-width: 736px) {
    html {
        font-size: 11pt;
    }
    #main > .inner {
        --padding-horizontal: 2rem;
        --padding-vertical: 6rem;
        --spacing: 2.375rem;
    }
    h1.style4,
    h2.style4,
    h3.style4,
    p.style4 {
        letter-spacing: 0.2625rem;
        width: calc(100% + 0.2625rem);
        font-size: 0.75em;
        line-height: 1.75;
    }
    h1.style2,
    h2.style2,
    h3.style2,
    p.style2 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.125;
    }
    h1.style1,
    h2.style1,
    h3.style1,
    p.style1 {
        letter-spacing: 0.021875rem;
        width: calc(100% + 0.021875rem);
        font-size: 1.25em;
        line-height: 1.375;
    }
    h1.style7,
    h2.style7,
    h3.style7,
    p.style7 {
        letter-spacing: 0.021875rem;
        width: calc(100% + 0.021875rem);
        font-size: 1.5em;
        line-height: 1.125;
    }
    h1.style3,
    h2.style3,
    h3.style3,
    p.style3 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 2.25em;
        line-height: 1.125;
    }
    .container.style2:not(:first-child) {
        margin-top: 6.125rem !important;
    }
    .container.style2:not(:last-child) {
        margin-bottom: 6rem !important;
    }
    .container.style2 > .wrapper > .inner {
        --gutters: 0.75rem;
        --padding-horizontal: 0rem;
        --padding-vertical: 6rem;
    }
    .container.style2.columns > .wrapper > .inner {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }
    .container.style2.columns > .wrapper > .inner > span {
        height: 0;
        margin-top: calc(var(--gutters) * -1);
        pointer-events: none;
        visibility: hidden;
    }
    .container.style2.columns > .wrapper > .inner > *:first-child {
        margin-left: 0 !important;
        padding-top: 0 !important;
    }
    .container.style2.columns > .wrapper > .inner > * {
        padding: calc(var(--gutters) * 0.5) 0 !important;
    }
    .container.style2.columns > .wrapper > .inner > *:last-child {
        padding-bottom: 0 !important;
    }
    .container.style2.columns > .wrapper > .inner > div > .full {
        margin-left: calc(var(--padding-horizontal) * -1);
        width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
    }
    .container.style2.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full {
        margin-left: calc(var(--padding-horizontal) * -1);
        width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
    }
    .container.style2.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full {
        margin-left: calc(var(--padding-horizontal) * -1);
        width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
    }
    .container.style2.columns
    > .wrapper
    > .inner
    > div
    > .full:first-child {
        margin-top: calc(var(--gutters) * -0.5) !important;
    }
    .container.style2.columns > .wrapper > .inner > div > .full:last-child {
        margin-bottom: calc(var(--gutters) * -0.5) !important;
    }
    .container.style2.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full:first-child {
        margin-top: calc(var(--padding-vertical) * -1) !important;
    }
    .container.style2.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full:last-child {
        margin-bottom: calc(var(--padding-vertical) * -1) !important;
    }
    .container.style2.columns > .wrapper > .inner > div:first-of-type,
    .container.style2.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    .container.style2.columns > .wrapper > .inner > div:last-of-type,
    .container.style2.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    .container.style2.columns > .wrapper > .inner > div:first-of-type,
    .container.style2.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full:last-child {
        border-bottom-left-radius: 0 !important;
    }
    .container.style2.columns > .wrapper > .inner > div:last-of-type,
    .container.style2.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full:first-child {
        border-top-right-radius: 0 !important;
    }
    .container.style2.columns
    > .wrapper
    > .inner
    > .full
    > .full:first-child:last-child {
        height: auto;
    }
    .container.style2.columns
    > .wrapper
    > .inner
    > .full
    > .full:first-child:last-child
    > * {
        height: auto;
        position: relative;
        width: auto;
    }
    #container03 > .wrapper > .inner > :nth-child(1) {
        --alignment: left;
        --flex-alignment: flex-start;
        --indent-left: 1;
        --indent-right: 0;
        min-height: 100% !important;
        width: 100% !important;
    }
    #container03 > .wrapper > .inner > :nth-child(2) {
        min-height: 100% !important;
        width: 100% !important;
    }
    .container.style1 {
        min-height: 19.5rem;
    }
    .container.style1:not(:first-child) {
        margin-top: 6rem !important;
    }
    .container.style1:not(:last-child) {
        margin-bottom: 6rem !important;
    }
    .container.style1 > .wrapper > .inner {
        --gutters: 2rem;
        --padding-vertical: 6rem;
    }
    .container.style1.columns > .wrapper > .inner {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }
    .container.style1.columns > .wrapper > .inner > span {
        height: 0;
        margin-top: calc(var(--gutters) * -1);
        pointer-events: none;
        visibility: hidden;
    }
    .container.style1.columns > .wrapper > .inner > *:first-child {
        margin-left: 0 !important;
        padding-top: 0 !important;
    }
    .container.style1.columns > .wrapper > .inner > * {
        padding: calc(var(--gutters) * 0.5) 0 !important;
    }
    .container.style1.columns > .wrapper > .inner > *:last-child {
        padding-bottom: 0 !important;
    }
    .container.style1.columns > .wrapper > .inner > div > .full {
        margin-left: calc(var(--padding-horizontal) * -1);
        width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
    }
    .container.style1.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full {
        margin-left: calc(var(--padding-horizontal) * -1);
        width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
    }
    .container.style1.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full {
        margin-left: calc(var(--padding-horizontal) * -1);
        width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
    }
    .container.style1.columns
    > .wrapper
    > .inner
    > div
    > .full:first-child {
        margin-top: calc(var(--gutters) * -0.5) !important;
    }
    .container.style1.columns > .wrapper > .inner > div > .full:last-child {
        margin-bottom: calc(var(--gutters) * -0.5) !important;
    }
    .container.style1.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full:first-child {
        margin-top: calc(var(--padding-vertical) * -1) !important;
    }
    .container.style1.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full:last-child {
        margin-bottom: calc(var(--padding-vertical) * -1) !important;
    }
    .container.style1.columns > .wrapper > .inner > div:first-of-type,
    .container.style1.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    .container.style1.columns > .wrapper > .inner > div:last-of-type,
    .container.style1.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    .container.style1.columns > .wrapper > .inner > div:first-of-type,
    .container.style1.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full:last-child {
        border-bottom-left-radius: 0 !important;
    }
    .container.style1.columns > .wrapper > .inner > div:last-of-type,
    .container.style1.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full:first-child {
        border-top-right-radius: 0 !important;
    }
    .container.style1.columns > .wrapper > .inner > .full {
        min-height: 19.5rem;
    }
    .container.style1.columns
    > .wrapper
    > .inner
    > .full
    > .full:first-child:last-child {
        height: auto;
    }
    .container.style1.columns
    > .wrapper
    > .inner
    > .full
    > .full:first-child:last-child
    > * {
        height: auto;
        position: relative;
        width: auto;
    }
    .buttons.style1 {
        gap: 0.875rem;
    }
    .buttons.style1 li a {
        letter-spacing: 0.1rem;
        padding-left: calc(0.1rem + 1.875rem);
        font-size: 0.75em;
    }
    .buttons.style1 li a svg {
        width: 1.25em;
    }
    .buttons.style2 {
        gap: 0.875rem;
    }
    .buttons.style2 li a {
        letter-spacing: 0.175rem;
        padding-left: calc(0.175rem + 1.875rem);
        font-size: 0.75em;
    }
    .buttons.style2 li a svg {
        width: 1.25em;
    }
    .buttons.style3 {
        gap: 0.875rem;
    }
    .buttons.style3 li a {
        letter-spacing: 0.1rem;
        padding-left: calc(0.1rem + 1.875rem);
        font-size: 0.75em;
    }
    .buttons.style3 li a svg {
        width: 1.25em;
    }
    hr.style1:not(:first-child) {
        margin-top: 2rem !important;
    }
    hr.style1:not(:last-child) {
        margin-bottom: 2rem !important;
    }
    hr.style1:before {
        width: 100rem;
        height: 1.25rem;
        background-size: auto 33.85%;
    }
    .list.style1 {
        letter-spacing: 0.021875rem;
        font-size: 1em;
        line-height: 1.875;
    }
    .list.style1 ul {
        padding-top: 0rem;
    }
    .list.style1 ul li:before {
        height: 1.25rem;
        min-width: 1.25rem;
        padding: 0 0.15625rem;
        margin-top: 0.375rem;
    }
    .icons.style1 {
        font-size: 1.5em;
        gap: 1.5rem;
    }
}
@media (max-width: 480px) {
    #main > .inner {
        --spacing: 2.078125rem;
    }
    .buttons.style1 {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .buttons.style1 li a {
        max-width: 32rem;
        width: 100%;
    }
    .buttons.style2 {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .buttons.style2 li a {
        max-width: 32rem;
        width: 100%;
    }
    .buttons.style3 {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .buttons.style3 li a {
        max-width: 32rem;
        width: 100%;
    }
}
@media (max-width: 360px) {
    #main > .inner {
        --padding-horizontal: 1.5rem;
        --padding-vertical: 4.5rem;
        --spacing: 1.78125rem;
    }
    h1.style4,
    h2.style4,
    h3.style4,
    p.style4 {
        font-size: 0.75em;
    }
    h1.style2,
    h2.style2,
    h3.style2,
    p.style2 {
        font-size: 3.5em;
    }
    h1.style1,
    h2.style1,
    h3.style1,
    p.style1 {
        font-size: 1.25em;
    }
    h1.style7,
    h2.style7,
    h3.style7,
    p.style7 {
        font-size: 1.5em;
    }
    h1.style3,
    h2.style3,
    h3.style3,
    p.style3 {
        font-size: 2.25em;
    }
    .container.style2 > .wrapper > .inner {
        --gutters: 0.5625rem;
        --padding-horizontal: 0rem;
        --padding-vertical: 4.5rem;
    }
    .container.style1 > .wrapper > .inner {
        --gutters: 1.5rem;
        --padding-vertical: 4.5rem;
    }
    .container.style1 {
        min-height: 13rem;
    }
    .container.style1.columns > .wrapper > .inner > .full {
        min-height: 13rem;
    }
    .buttons.style1 {
        gap: 0.65625rem;
    }
    .buttons.style2 {
        gap: 0.65625rem;
    }
    .buttons.style3 {
        gap: 0.65625rem;
    }
    .list.style1 {
        font-size: 1em;
    }
    .list.style1 ul {
        padding-top: 0rem;
    }
    .list.style1 ul li:before {
        margin-top: 0.375rem;
    }
    .icons.style1 {
        gap: 1.125rem;
    }
}