# Upstash Redis
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Postgres Database URL
DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL="https://vercount.one" # 默认情况下，直接使用官方服务器的服务

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=